<div
    [ngClass]="{
        'enemyContainer': character.isEnemy,
        'playerContainer': !character.isEnemy,
        'blink': isBlinking,
        'selectAsTarget': isTargetSelectable,
        'highlight-all': isHighlightAll
    }"
    (click)="onClick()"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    >
    <div class="name">
        {{ character.name }}
    </div>
    <div *ngIf="character.currentHp > 0" class="hpContainer">
        <div class="maxHpBar">
            <div class="currentHpBar" 
                [ngStyle]="{'width': getHpBarWidth() + '%' }"
                ></div>
        </div>
        <div>{{ character.currentHp }} / {{ character.maxHp}}</div>
    </div>
    <div class="cpContainer" *ngIf="!character.isEnemy">
        <div class="maxCpBar">
            <div class="currentCpBar" 
                [ngStyle]="{'width': getCpBarWidth() + '%' }"
                ></div>
        </div>
        <div>{{ character.currentCp }} / {{ character.maxCp}}</div>
    </div>

    
    <div class="status-effects">
        <div *ngFor="let effect of character.statusEffects">
            {{ effect.name }} ({{ effect.duration }})
        </div>
    </div>

    <div class="numbers-container">
        <span *ngFor="let dmgValue of damageNumbers" class="number damage-number">{{ dmgValue }}</span>
        <span *ngFor="let healValue of healNumbers" class="number heal-number">{{ healValue }}</span>
    </div>

    <div class="skill-animation-container">
        <div
            *ngIf="currentSkillAnimation"
            class="sprite-animation"
            [ngClass]="currentSkillAnimation"
        ></div>
    </div>

    
</div>
