.playerContainer{
    width: 300px;
    /* height: 50px; */
    border: 1px solid black;
    box-sizing: border-box;
    margin-left: 20px;
}

.enemyContainer{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.name{

}

.hpContainer{
    
    display: flex;
    flex-direction: row;
}
.maxHpBar{
    width: 150px;
    height: 15px;
    background-color: red;
}
.currentHpBar{
    height: 15px;
    background-color: green;
    transition: width 0.3s ease;
}

.cpContainer{
    
    display: flex;
    flex-direction: row;
}
.maxCpBar{
    width: 150px;
    height: 5px;
    background-color: blue;
}
.currentCpBar{
    height: 5px;
    background-color: rgb(0, 183, 255);
    transition: width 0.3s ease;
}

.status-effects{
    /* display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px; */
}

.numbers-container{

}

.heal-number{

}

.number {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    animation: riseAndFade 1s ease-out forwards;
}

.heal-number{
    color: green;
}
.damage-number{
    color: red;
}

@keyframes riseAndFade {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}


.selectAsTarget:hover{
    border: 1px solid red;
}
.highlight-all {
    border: 1px solid red; /* Highlight all enemies when hovering on one */
}


@keyframes blink {
    0%, 50%, 100% {
        visibility: visible;
    }
    25%, 75%{
        visibility: hidden;
    }
}

.blink {
    /* animation: blink 0.5s ease-in-out; */
    animation: blink 0.3s steps(1, start) infinite;
}